/*
*
* Base16 Black Metal (Gorgoroth)
* Author: metalelf0 (https://github.com/metalelf0)
*
*/

@define-color base00 #000000;
@define-color base01 #121212;
@define-color base02 #222222;
@define-color base03 #333333;
@define-color base04 #999999;
@define-color base05 #c1c1c1;
@define-color base06 #999999;
@define-color base07 #c1c1c1;
@define-color base08 #5f8787;
@define-color base09 #aaaaaa;
@define-color base0A #8c7f70;
@define-color base0B #9b8d7f;
@define-color base0C #aaaaaa;
@define-color base0D #888888;
@define-color base0E #999999;
@define-color base0F #444444;

* {
  all: unset;
  font-size: 14px;
  font-family: "Iosevka Nerd Font";
  transition: 200ms;
}

/* Floating Notifications */
.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @base02;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base00;
  color: @base05;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @base08;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @base05;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @base08;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @base05;
}

/* Notification Actions */
.floating-notifications.background .notification-row .notification-background .notification-action {
  border-radius: 7px;
  color: @base05;
  background-color: @base01;
  box-shadow: inset 0 0 0 1px @base02;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification-action:hover {
  background-color: @base03;
  color: @base05;
}

.floating-notifications.background .notification-row .notification-background .notification-action:active {
  background-color: @base0D;
  color: @base05;
}

/* Close Button */
.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base00;
  background-color: @base08;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @base05;
  color: @base00;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @base08;
  color: @base00;
}

/* Control Center */
.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @base02;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base00;
  color: @base05;
  padding: 14px;
}

.control-center .widget-title {
  color: @base05;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @base05;
  background-color: @base01;
  box-shadow: inset 0 0 0 1px @base02;
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: @base0E;
  color: @base05;
}

.control-center .widget-title button:active {
  background-color: @base0D;
  color: @base00;
}

/* Notifications in Control Center */
.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @base05;
  background-color: @base01;
  box-shadow: inset 0 0 0 1px @base02;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @base08;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @base05;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @base08;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @base05;
}

/* Control Center Actions */
.control-center .notification-row .notification-background .notification-action {
  border-radius: 7px;
  color: @base05;
  background-color: @base00;
  box-shadow: inset 0 0 0 1px @base02;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification-action:hover {
  background-color: @base03;
  color: @base05;
}

.control-center .notification-row .notification-background .notification-action:active {
  background-color: @base0D;
  color: @base05;
}

/* Close Button */
.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base00;
  background-color: @base05;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @base08;
  color: @base00;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @base08;
  color: @base00;
}

/* Control Center Hover Effects */
.control-center .notification-row .notification-background:hover {
  background-color: @base08;
  color: @base05;
}

.control-center .notification-row .notification-background:active {
  background-color: @base0E;
  color: @base05;
}

/* Progress Bars */
progressbar,
progress,
trough {
  border-radius: 12.6px;
}

progressbar {
  box-shadow: inset 0 0 0 1px @base02;
}

.notification.critical progress {
  background-color: @base08;
}

.notification.low progress,
.notification.normal progress {
  background-color: @base0D;
}

trough {
  background-color: @base01;
}

.control-center trough {
  background-color: @base02;
}

/* Do Not Disturb */
.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @base01;
  border: 1px solid @base02;
}

.control-center-dnd:checked {
  background: @base01;
}

.control-center-dnd slider {
  background: @base02;
  border-radius: 8px;
}

.widget-dnd > switch {
  border-radius: 8px;
  background: @base01;
  border: 1px solid @base02;
}

.widget-dnd > switch slider {
  background: @base02;
  border-radius: 8px;
  border: 1px solid @base08;
}
