[Unit]
Description=Upload documents to Google Drive

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone copy /home/maneesh/Documents gdrive:Documents --verbose --create-empty-src-dirs
